.intro {
  background:
    url('/images/header.jpg') center / cover no-repeat,
    lightgray 50% / cover no-repeat;
  height: 47rem;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
}

.p {
  position: relative;
  margin: 50px 0;
  z-index: 1;
  margin-top: 40px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #fff;
  text-align: center;
}

.button {
  padding: 5px 20px;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  flex: none;
  border-radius: 10px;
  border: none;
  order: 2;
  flex-grow: 0;
  background: #ffffff;
  color: #333;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 142%;

  letter-spacing: -0.01em;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background: #efa501;
    color: #ffffff;
  }

  &:active {
    background: #f8e6be;
    color: #333;
  }
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 89px;
}

.title {
  width: 768px;
  height: 315px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 109%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
