.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;

  text-align: center;

  color: #a6a6a6;
}

.main__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;

  text-align: center;

  color: #1b1f2b;
}
