.navBlock {
  display: flex;
  justify-content: space-between;
}

.block {
  display: flex;
  gap: 25px;

  & a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;

    color: #ffffff;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: #efa501;
      text-decoration: underline;
    }
  }
}

.btn {
  position: relative;
  padding-left: 30px;
  margin-left: -30px;
  border-radius: 50px;
  overflow: visible;
}

.btnHovered {
  transition: background 0.1s ease;
  background: #286562;
}
